.bg-img {
  background-image: url(../../assets/background.webp);
  color: white;
}

.section-header {
  font-weight: bold;
}
.section-header span {
  color: var(--theme-yellow);
}

.top-menu {
  height: 4rem;
}
.top-menu .appbar-nav {
  background-color: inherit !important;
}

.home {
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .small-home {
  justify-content: center;
  align-items: center;
}
.home .desktop-home {
  justify-content: space-around;
  align-items: center;
}
.home .small-content {
  align-items: center;
  justify-content: center;
}
.home .small-content .MuiTypography-root {
  text-align: center;
}

.about,
.skills,
.experience {
  text-align: center;
}

.skills .card-content,
.experience .card-content {
  border: var(--border);
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
}
.experience .card-content {
  align-items: center;
}
.experience .sm-chip {
  font-size: 0.6rem;
}
/* .experience .mui-chip {
  width: 8rem;
} */
